/output
/dist
/build
/storage
/temp
.data
.dist
.build
.react-router
.wrangler
.cache
.config
.github
.husky
.temp
.unikraft
.vscode
.DS_Store
.DS_Store?
.dockerignore
.sentryclirc
Dockerfile
compose.env*
node_modules
npm-debug.log
slim.report.json
playwright-report/
tests-results/
.playwright/
.git
.gitignore
*.sqlite*
*.sqlite3*
*.db*
*.log
*.md
.env*
.output
.next/
.open-next/
