# essentials
/node_modules
/.pnp
.pnp.js
.DS_Store
.DS_Store?
/coverage
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# next.js
/.vercel/
/.next/
/out/

# production
/build
/dist

# debug files
# yarn.lock
# package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files
.env.*
!.env.example

# next-sitemap
public/sitemap.xml
