/*   Fonts taken from: http://www.cufonfonts.com   */

/* ------------------------------------------- Font weight 100 -------------------------------------------  */
@font-face {
  font-family: 'Clarity City';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local('Clarity City'), url('ClarityCity-Thin.woff2') format('woff2'), url('ClarityCity-Thin.woff') format('woff');
}

@font-face {
  font-family: 'Clarity City';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: local('Clarity City'), url('ClarityCity-ThinItalic.woff2') format('woff2'),
    url('ClarityCity-ThinItalic.woff') format('woff');
}

/* ------------------------------------------- Font weight 200 -------------------------------------------  */
@font-face {
  font-family: 'Clarity City';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local('Clarity City'), url('ClarityCity-ExtraLight.woff2') format('woff2'),
    url('ClarityCity-ExtraLight.woff') format('woff');
}

@font-face {
  font-family: 'Clarity City';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: local('Clarity City'), url('ClarityCity-ExtraLightItalic.woff2') format('woff2'),
    url('ClarityCity-ExtraLightItalic.woff') format('woff');
}

/* ------------------------------------------- Font weight 300 -------------------------------------------  */
@font-face {
  font-family: 'Clarity City';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Clarity City'), url('ClarityCity-Light.woff2') format('woff2'), url('ClarityCity-Light.woff') format('woff');
}

@font-face {
  font-family: 'Clarity City';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: local('Clarity City'), url('ClarityCity-LightItalic.woff2') format('woff2'),
    url('ClarityCity-LightItalic.woff') format('woff');
}

/* ------------------------------------------- Font weight 400 -------------------------------------------  */
@font-face {
  font-family: 'Clarity City';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Clarity City'), url('ClarityCity-Regular.woff2') format('woff2'),
    url('ClarityCity-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Clarity City';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Clarity City'), url('ClarityCity-RegularItalic.woff2') format('woff2'),
    url('ClarityCity-RegularItalic.woff') format('woff');
}

/* ------------------------------------------- Font weight 500 -------------------------------------------  */
@font-face {
  font-family: 'Clarity City';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Clarity City'), url('ClarityCity-Medium.woff2') format('woff2'), url('ClarityCity-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Clarity City';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: local('Clarity City'), url('ClarityCity-MediumItalic.woff2') format('woff2'),
    url('ClarityCity-MediumItalic.woff') format('woff');
}

/* ------------------------------------------- Font weight 600 -------------------------------------------  */
@font-face {
  font-family: 'Clarity City';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Clarity City'), url('ClarityCity-SemiBold.woff2') format('woff2'),
    url('ClarityCity-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Clarity City';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: local('Clarity City'), url('ClarityCity-SemiBoldItalic.woff2') format('woff2'),
    url('ClarityCity-SemiBoldItalic.woff') format('woff');
}

/* ------------------------------------------- Font weight 700 -------------------------------------------  */
@font-face {
  font-family: 'Clarity City';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Clarity City'), url('ClarityCity-Bold.woff2') format('woff2'), url('ClarityCity-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Clarity City';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Clarity City'), url('ClarityCity-BoldItalic.woff2') format('woff2'),
    url('ClarityCity-BoldItalic.woff') format('woff');
}

/* ------------------------------------------- Font weight 800 -------------------------------------------  */
@font-face {
  font-family: 'Clarity City';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Clarity City'), url('ClarityCity-ExtraBold.woff2') format('woff2'),
    url('ClarityCity-ExtraBold.woff') format('woff');
}

@font-face {
  font-family: 'Clarity City';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: local('Clarity City'), url('ClarityCity-ExtraBoldItalic.woff2') format('woff2'),
    url('ClarityCity-ExtraBoldItalic.woff') format('woff');
}

/* ------------------------------------------- Font weight 900 -------------------------------------------  */
@font-face {
  font-family: 'Clarity City';
  font-style: normal;
  font-weight: 900;
  src: local('Clarity City'), url('ClarityCity-Black.woff2') format('woff2'), url('ClarityCity-Black.woff') format('woff');
}

@font-face {
  font-family: 'Clarity City';
  font-style: italic;
  font-weight: 900;
  src: local('Clarity City'), url('ClarityCity-BlackItalic.woff2') format('woff2'),
    url('ClarityCity-BlackItalic.woff') format('woff');
}
