@import "tailwindcss";
@plugin "tailwindcss-motion";

/* Uncomment this line to enable dark mode via a data-theme attribute */
/* @variant dark (&:where([data-theme="dark"] *)); */

@theme inline {
    /* @see: https://github.com/tailwindlabs/tailwindcss/discussions/13410#discussioncomment-11928917 */
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

/* Debug element */
@utility debug {
    border-width: 1px;
    border-style: dashed;
    border-color: #f87171;
}
