@import "tailwindcss";

/* Uncomment this line to enable dark mode via a data-theme attribute */
/* @variant dark (&:where([data-theme="dark"] *)); */

@theme inline {
    /* @see: https://github.com/tailwindlabs/tailwindcss/discussions/13410#discussioncomment-11928917 */
    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
}

@layer base {
    html,
    body {
        @apply antialiased min-h-screen scroll-smooth;
    }
    pre,
    code {
        @apply font-mono;
    }
}

/* Debug element */
@utility debug {
    border-width: 1px;
    border-style: dashed;
    border-color: #f87171;
}
