@tailwind base;

/* Start purging... */
@tailwind components;
@tailwind utilities;
/* Stop purging. */

html,
body {
    @apply font-sans antialiased;
}

h1, h2, h3, h4, h5, h6 {
    @apply font-sans;
}
