@tailwind base;

/* Start purging... */
@tailwind components;
@tailwind utilities;
/* Stop purging. */

html,
body {
  @apply font-sans antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-sans;
}

.text--gradient {
  @apply bg-clip-text text-transparent bg-gradient-to-tr from-purple-400 to-brand-500;
}

.text--shadow {
  @apply filter drop-shadow-lg md:drop-shadow-2xl;
}
